<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--Commands-->
	<extension point="org.eclipse.ui.commands">
		<command
			id="leviathan143.fantasticchainsaw.mc111.findSentinelIssues"
			name="Find Sentinel Issues"
			defaultHandler="leviathan143.fantasticchainsaw.mc111.sentinelhelper.SentinelIssueFinder">
		</command>
		<command
			id="leviathan143.fantasticchainsaw.mc111.patchSentinelIssues"
			name="Fix Sentinel Issues"
			defaultHandler="leviathan143.fantasticchainsaw.mc111.sentinelhelper.SentinelIssuePatcher">
		</command>
		<command
			id="leviathan143.fantasticchainsaw.invalidateMetadata"
			name="Refresh Metadata"
			defaultHandler="leviathan143.fantasticchainsaw.InvalidateMetadataHandler">
		</command>
	</extension>
   	<!--Menu options-->
	<extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
   			<menu label="Fantastic Chainsaw">
   				<menu label="1.11">
   					<command
   						commandId="leviathan143.fantasticchainsaw.mc111.findSentinelIssues"
   						label="Find Sentinel Issues">
   					</command>
   					<command
   						commandId="leviathan143.fantasticchainsaw.mc111.patchSentinelIssues"
   						label="Fix Sentinel Issues">
   					</command>
   				</menu>
   				<command
   					commandId="leviathan143.fantasticchainsaw.invalidateMetadata"
   					label="Invalidate Metadata">
   				</command>
   			</menu>
   		</menuContribution>
   	</extension>
 <extension id="leviathan143.fantasticchainsaw.markerbase" point="org.eclipse.core.resources.markers"/>
 <extension
 	id="leviathan143.fantasticchainsaw.mc111.sentinelissuemarker"	
	point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="leviathan143.fantasticchainsaw.markerbase"/>
 </extension>
 <extension point="org.eclipse.jdt.core.compilationParticipant">
 	<compilationParticipant
 		class="leviathan143.fantasticchainsaw.mc111.sentinelhelper.SentinelCompilationParticipant"
 		id="SentinelHelper"
 		createsProblems="true">
 	</compilationParticipant>
 </extension>
</plugin>
